version: "3.9"

services:
  app:
    image: webdevops/php-apache:8.2
    container_name: crud_app
    ports:
      - "${APP_PORT:-8080}:80"
    environment:
      - WEB_DOCUMENT_ROOT=/app/public
      - PHP_DISPLAY_ERRORS=1
      - PHP_MEMORY_LIMIT=512M
      - PHP_MAX_EXECUTION_TIME=120
      # параметри для підключення до БД
      - DB_HOST=db
      - DB_PORT=3306
      - DB_NAME=${MYSQL_DATABASE:-animal_shop}
      - DB_USER=${MYSQL_USER:-shop_user}
      - DB_PASSWORD=${MYSQL_PASSWORD:-shop_pass_123}
    volumes:
      - ./src:/app
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  db:
    image: mysql:8.0
    container_name: crud_db
    command: [
        "mysqld",
        "--default-authentication-plugin=mysql_native_password",
        "--character-set-server=utf8mb4",
        "--collation-server=utf8mb4_unicode_ci",
        "--sql-mode=", # вимкнути суворі режими для простоти CRUD-демо
        "--general-log=1",
        "--slow-query-log=1",
        "--long-query-time=2",
        "--log-output=FILE"
      ]
    ports:
      - "${DB_PORT:-3306}:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-changeme_root_please}
      - MYSQL_DATABASE=${MYSQL_DATABASE:-animal_shop}
      - MYSQL_USER=${MYSQL_USER:-shop_user}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD:-shop_pass_123}
    volumes:
      - db_data:/var/lib/mysql
      - ./mysql/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -uroot -p$${MYSQL_ROOT_PASSWORD} --silent"]
      interval: 5s
      timeout: 3s
      retries: 20
    restart: unless-stopped

  phpmyadmin:
    image: phpmyadmin:5
    container_name: crud_pma
    ports:
      - "${PMA_PORT:-8081}:80"
    environment:
      - PMA_HOST=db
      - PMA_USER=${MYSQL_USER:-shop_user}
      - PMA_PASSWORD=${MYSQL_PASSWORD:-shop_pass_123}
      - UPLOAD_LIMIT=256M
      - MYSQL_CHARSET=utf8mb4
      - MYSQL_COLLATION=utf8mb4_unicode_ci
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
  mysql_replica:
    image: mysql:8
    container_name: mysql_replica
    environment:
      - MYSQL_ROOT_PASSWORD=changeme_root_please
    depends_on:
      - db
    command:
      - mysqld
      - --server-id=2
      - --log-bin=/var/lib/mysql/mysql-bin.log
      - --relay-log=mysql-relay-bin
    ports:
      - "3307:3306"

volumes:
  db_data:
